<app-dialog
  title="{{ mode === 'create' ? 'Создание задачи' : 'Редактирование задачи' }}"
>
  <mat-form-field dialog-content>
    <mat-label>Input</mat-label>
    <input matInput [(ngModel)]="title" />
  </mat-form-field>
  <mat-form-field dialog-content>
    <mat-label>Textarea</mat-label>
    <textarea matInput [(ngModel)]="description"></textarea>
  </mat-form-field>

  <button dialog-actions mat-button (click)="onNoClick()">No Thanks</button>
  <button dialog-actions mat-button (click)="onOkClick()">
    {{ mode === "create" ? "Create" : "Save" }}
  </button>
</app-dialog>
