:host {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 5px 10px;
  background-color: cadetblue;

  h1 {
    margin-bottom: 0;

    a {
      text-decoration: none;
    }
  }
}
